*{
    font-family: 'Amiri', serif;
    font-family: 'Aref Ruqaa Ink', serif;
    font-family: 'Lateef', serif;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    background-color:#e2e6eb ;
}
.nav ul{
    display: flex;
    margin-right: 20px;
    height:30px;
    justify-content: center;

}
img{
    width: 30%;
    height: 40%;
    margin-right:40px ;
    float: left; /* أو يمكنك استخدام position بشكل مباشر */
    margin-right: 200px;
    
}
.nav ul li a{
    margin: 10px;

}
.act{
    text-decoration: underline;
}

a{
    color: black;
}

a:hover{
    text-decoration: underline;

}
.text{
    margin-right:40px ;
    padding-top: 300px;

}

p{
    font-size: 72px;
}
h4{
    font-size: 20px;
    
}

button{
    display: block;
    border-radius: 25px;
    background-color: #df412e;
    border: none;
    color: rgb(255, 255, 255);
    height: 60px;
    width: 150px;
}
button:hover{
    background-color: #ba1f0e;
}
.foto{
    height: 40px;
    width: 40px;
    padding-left: 2000px;
}




